body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}
div{
  display: block;
}
h2, h4{
  display: block;
}
nav {
  text-align: right;
}
nav span {
  display: inline-block;
  padding: 30px 20px;
}
#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
}
#mission .mission_statement {
  margin: auto;
  background-color: black;
  width: 100%;
}

.top_section{
  margin: auto;
  width: 1200px;
  opacity: 0.9
}

.flexbox_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer{
  text-align: left;
}
