body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  margin: 0;
}
a{
  color: seashell;
}
div{
  display: block;
}
h2, h4{
  display: block;
}
nav {
  text-align: right;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  padding-top: 69px;
}
#mission .mission_statement {
  margin: auto;
  background-color: black;
  width: 100%;
}

.header {
  width: 100%;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid  seashell;
  position: fixed;
  background-color: black;
}

.header img{
  height: 50px;
  padding-left: 10px;
}

.top_section{
  width: 1200px;
  opacity: 0.9
}

.flexbox_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer{
  text-align: left;
}
